:root {
    --diam: 240px;
}

@keyframes rotation {
    from {transform: inherit;}
    to {transform: rotate(360deg)}
}

.rotation:hover {
    animation-name: rotation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.product {
    position: absolute;
    top: 8px;
    left: 14px;
    border: 1px solid #fff;
    border-radius: 50%;    
    width: var(--diam);
    height: var(--diam);
}

.turn1 {
    transform: rotate(0);
}
.turn2 {
    transform: rotate(-75deg);
}
.turn3 {
    transform: rotate(48deg);
}
.turn4 {
    transform: rotate(10deg);
}