:root {
    --red: #e6332a;
    --radius: 20px;
}

.inputs {
    border-radius: var(--radius);
    padding: 5px 12px;
    color: black;
}

.buttons {
    background-color: transparent;
    border-radius: var(--radius);
    border: 1px solid var(--red);
    margin: auto;
    padding: .50em 3em;
}

.customCheckbox {
    appearance: none;
    background-color: #000;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--red);
    border-radius: 0.15em;
    transform: translateY(-0.075em);

}
.customCheckbox + span {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    background-color: rgb(243, 240, 240);
    clip-path: polygon(9.73% 47.21%, 0px 65%, 50% 100%, 100% 16%, 82.14% 6.41%, 44.07% 73.75%);
    top: -6px;
    left: -2px;
}
