:root {
    --red: #e6332a;
    --radius: 20px;
    --size: 1.5em;
    --size-mob: 0.8em;
}

.inputs {
    border: 1px solid white;
    border-radius: var(--radius);
    padding: 5px 12px;
    color: transparent;
    background-color: transparent;
}

.customCheckbox {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--red);
    border-radius: 0.15em;
    transform: translateY(-0.075em);

}
.customCheckbox + span {
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: rgb(243, 240, 240);
    clip-path: polygon(9.73% 47.21%, 0px 65%, 50% 100%, 100% 16%, 82.14% 6.41%, 44.07% 73.75%);
    top: -6px;
    left: -2px;
}

@media (max-width: 648px) {
    .customCheckbox + span {
        width: var(--size-mob);
        height: var(--size-mob);
    }
}
