body {  
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'inter';
  src: url( '../public/fonts/Inter-Regular.ttf');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #root {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin: auto;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  font-family: 'coustard';
  src: url( '../public/fonts/Coustard-Black.ttf');
  letter-spacing: 0.05rem;
  color: #e6332a;
}

h3, p, span {
  font-family: 'inter';
  src: url( '../public/fonts/Inter-Regular.ttf');
}

h1 { font-size: 77px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
p { font-size: 18px; }
span { font-size: 26px; }

small {
  font-family: 'inter';  
  font-size: 18px;
}

@media (max-width: 648px) {
  h1 { font-size: 77px; }
  h2 { font-size: 22px; }
  h3 { font-size: 16px; }
  p { font-size: 18px; }
  span { font-size: 26px; } 
}


