.mapImg {
    top: 45px;
    left: 0;
    position: absolute;
    width: 98%;
    height: 90%;
    object-position: 60% 70%;
    scale: 0.9;
    border-radius: 30px;
}

@media (max-width: 648px) {
    .mapImg {
        top: 10px;
    }
}